.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.coin-border {
    border: 2px solid #c0c0c0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.panel {
    margin-bottom: @line-height-computed;
    background-color: @panel-bg;
    border: 1px solid transparent;
    border-radius: @panel-border-radius;
    .box-shadow(0 1px 1px rgba(0, 0, 0, .05));
  }
  
  // Panel contents
  .panel-body {
    padding: @panel-body-padding;
    &:extend(.clearfix all);
  }
  
  // Optional heading
  .panel-heading {
    padding: @panel-heading-padding;
    border-bottom: 1px solid transparent;
    .border-top-radius((@panel-border-radius - 1));
  
    > .dropdown .dropdown-toggle {
      color: inherit;
    }
  }
